// Specific CSS for your home-page

.banner h1 {
  color:white;
  font-size: 50px;
}

.banner p {
  color:white;
  font-size: 20px;
}

.home-page-presentation {
  padding: 50px;
  background-color: white;
}

.home-page-presentation h1 {
  text-align: center;
}

.home-page-presentation p {
  text-align: center;
  font-size: 20px;
}

.banner .home-page-button {
  color: white;
  padding: 15px 30px;
  border-radius: 4px;
  background: $sr-red;
  transition: background 0.3s ease;
  text-decoration : none;
  border: none;
  &:hover {
    background-color: white;
    color: black;
    border: black 1px solid;
  }
}

.home-page-button {
  color: white;
  padding: 15px 30px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  background: $sr-red;
  transition: background 0.3s ease;
  text-decoration : none;
  border: none;
  &:hover {
    background-color: white;
    color: black;
    border: black 1px solid;
  }
}


.card-info-body i {
  color:#A52A2A;
  text-align: center;
}
