<div class="container mt-5 mb-5">
  <div class="d-flex align-items-center bg-cover">
    <div class="text-center w-100">
      <h1>Stay true... <strong>to your desires !</strong></h1>
      <p>Taste the forbidden fruit of infidelity with secret retreat</p>
      <%= link_to "Discover now !", rooms_path, class: "button" %>
    </div>
  </div>
  <div class="my-5">
    <div class="row mb-0">
      <div class="col-md-4">
        <div class="card h-100 text-center">
          <div class="card-body">
            <h5 class="card-title text-primary"><strong>No email</strong></h5>
            <p class="card-text">Don't be fooled by a confirmation email !</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card h-100 text-center">
          <div class="card-body">
            <h5 class="card-title text-primary"><strong>Only cash payment</strong></h5>
            <p class="card-text">No trace in your bank acount, the owner pay our comission !</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card h-100 text-center">
          <div class="card-body">
            <h5 class="card-title text-primary"><strong>No traces</strong></h5>
            <p class="card-text">If you use private navigation their is no trace from your visit !</p>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
