<div class="container-fluid d-flex align-items-center bg-cover" style="background-image: url(https://thumbs.dreamstime.com/b/remettez-l-atteinte-pour-une-pomme-rouge-le-fruit-d%C3%A9fendu-111247649.jpg); height:100vh">
  <div class="text-center w-100">
    <h1 class="text-light">Stay true... <strong>to your desire!</strong></h1>
    <p class="text-light">Taste the forbidden fruit of infidelity with secret retreats</p>
    <a class="btn btn-primary" href="#">Discover now</a>
  </div>
</div>
<div class="container my-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card h-100 text-center">
        <div class="card-body">
          <h5 class="card-title text-primary">No notification</h5>
          <p class="card-text">Don't be fooled by a email</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100 text-center">
        <div class="card-body">
          <h5 class="card-title text-primary">Only cash payment</h5>
          <p class="card-text">pay directly at the hotel reception</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100 text-center">
        <div class="card-body">
          <h5 class="card-title text-primary">No cookies</h5>
          <p class="card-text">Your browsing history is not stored when you browse our site</p>
        </div>
      </div>
    </div>
  </div>
</div>
