<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img-4.linternaute.com/6_bwoE713ny015ZMvTwmcjQ8eAU=/fit-in/620x/smart/6f206ca5e2f54554a33c76ca4fc51560/ccmcms-linternaute/691562.jpg);">
  <div class="d-flex">
    <div class="text-start p-5 w-100">
      <h1>Stay true... <strong>to your desires !</strong></h1>
      <p class="mt-3">Taste the forbidden fruit of infidelity with secret retreat</p>
      <%= link_to "Discover", rooms_path, class: "home-page-button" %>
    </div>
  </div>
</div>
<div class ="home-page-presentation">
  <h1>A text to present the room</h1>
  <p>Secreat retreat offers you incredible rooms to live an incredible moments</p>
  <%= link_to "Discover", rooms_path, class: "home-page-button" %>
</div>
<div class ="white-bg">
  <div class="container white mt-5">
    <div class="row mb-10">
      <div class="col-md-4">
        <div class="card-info">
          <div class="card-info-body p-5">
            <div>
              <div class="card-info-body-title">
                <h5><strong>No notification</strong></h5>
              </div>
              <p>Don't be fooled by a confirmation email</p>
            </div>
            <i class="fa-solid fa-envelope fa-3x"></i>
          </div>
        </div>
      </div>
        <div class="col-md-4">
        <div class="card-info">
          <div class="card-info-body p-5">
            <div>
              <div class="card-info-body-title">
                <h5><strong>Only cash payment</strong></h5>
              </div>
              <p>No trace in your bank acount, the owner pay our comission</p>
            </div>
            <i class="fa-solid fa-money-bill fa-3x"></i>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-info">
          <div class="card-info-body p-5">
            <div>
              <div class="card-info-body-title">
                <h5><strong>No traces</strong></h5>
              </div>
              <p>If you use private navigation their is no trace from your visit</p>
            </div>
            <i class="fa-solid fa-user-secret fa-3x"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
   <%= link_to "Discover", rooms_path, class: "home-page-button" %>
</div>
