<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1587220387658-ff627d631be2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);">
  <div class="d-flex">
    <div class="text-center p-5 w-100">
      <h1>Stay true... <strong>to your desires !</strong></h1>
      <p class="mt-3">Taste the forbidden fruit of infidelity with secret retreat</p>
      <div class="mt-5 mb-5">
        <%= link_to "Discover", rooms_path, class: "home-page-button" %>
      </div>
    </div>
  </div>
</div>
<div class ="home-page-presentation">
  <h1>The best rooms in all <strong>discretion</strong> </h1>
  <p>Secreat retreat offers you incredible rooms to live an incredible moment</p>
</div>
<div class ="white-bg">
  <div class="container white mt-5">
    <div class="row mb-10">
      <div class="col-md-4">
        <div class="card-info">
          <div class="card-info-body p-5">
            <div>
              <div class="card-info-body-title">
                <h5><strong>No notification</strong></h5>
              </div>
              <p>Don't be fooled by a confirmation email</p>
            </div>
            <div class="text-center">
              <i class="fa-solid fa-envelope fa-3x"></i>
            </div>
          </div>
        </div>
      </div>
        <div class="col-md-4">
        <div class="card-info">
          <div class="card-info-body p-5">
            <div>
              <div class="card-info-body-title">
                <h5><strong>Only cash payment</strong></h5>
              </div>
              <p>No trace in your bank acount, the owner pay our comission</p>
            </div>
            <div class="text-center">
              <i class="fa-solid fa-money-bill fa-3x"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-info">
          <div class="card-info-body p-5">
            <div>
              <div class="card-info-body-title">
                <h5><strong>No traces</strong></h5>
              </div>
              <p>If you use private navigation their is no trace from your visit</p>
            </div>
            <div class="text-center">
              <i class="fa-solid fa-user-secret fa-3x"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center mt-5 mb-5">
  <%= link_to "Discover", rooms_path, class: "home-page-button" %>
  </div>
</div>
